/*Diese Datei enthält praktische Gameplayveränderungen*/


/* Clanmitglieder Rassen anzeigen: */
	.frameitembg *[title*="Mensch"]:after { display: block; content:" ("attr(title)")"; color:#000;font-size:10px; }
	.frameitembg *[title*="Onlo"]:after { display: block; content:" ("attr(title)")"; color:#000;font-size:10px;  }
	.frameitembg *[title*="Natla"]:after { display: block; content:" ("attr(title)")"; color:#000;font-size:10px;  }
	.frameitembg *[title*="dunkler"]:after { display: block; content:" ("attr(title)")"; color:#000;font-size:10px;  }
	.frameitembg *[title*="Serum"]:after { display: block; content:" ("attr(title)")"; color:#000;font-size:10px;  }
	.frameitembg *[title*="Taruner"]:after { display: block; content:" ("attr(title)")"; color:#000;font-size:10px;  }

	
/* Bei der Item-Gelduebergabe ist mehr Platz zwischen den Spielern, um die Missclickrate zu senken: */
	.frameitembg a[href*="item.php?action=transfer2"] { display: inline-block; margin: 0px 0px 5px 5px; }
	.frameitembg a[href*="item.php?action=moneytransfer3"] { display: inline-block; margin: 0px 0px 5px 5px; }	
	
	
/* In den Einstellungen steht ein check/cross vor der Einstellung */
	a[href*="profil.php?action=skip"]:before 	{ content: url(images/check.png); padding-right: 2px; }
	a[href*="profil.php?action=skip"]:hover 	{ color: #D20000 !important; }
	a[href*="profil.php?action=show"]:before 	{ content: url(images/cross.png); padding-right: 2px; }
	a[href*="profil.php?action=show"]:hover 	{ color: #008800 !important; }
	a[href*="profil.php?action=enable"]:before 	{ content: url(images/cross.png); padding-right: 2px; }
	a[href*="profil.php?action=enable"]:hover 	{ color: #008800 !important; }
	form > input[name="ownstyle"] 			{ width: 100%; }

	
/* Inventar Update */
	p.listitemrow { position: relative; padding: 2px 4px 3px 4px; font-size: 1px; color: transparent; border: 1px solid #BABABA; }
	p.listitemrow:hover { padding: 2px 65px 3px 4px; }
	p.listitemrow + p { margin-top: 3px; }
	p.listitemrow a[href*="action=activate"] { display: block; height: 0px; margin: -2px 0px 0px 300px; }
	p.listitemrow:hover a[href*="action=activate"]:before { content: url(images/act.png); position: absolute; top: 2px; right: 47px; opacity: 0.80; }
	p.listitemrow:hover a[href*="action=activate"]:hover:before { opacity: 1.00; }
	p.listitemrow b { font-size: 11px; color: #000000; }
	.itemamount { font-size: 11px; margin-right: 1px; }
	.itemmagic { font-size: 11px; margin-left: 1px; }
	.itemequipped b { color: #D20000 !important; }
	p.listitemrow .iteminventorypics { max-height: 14px; opacity: 0.80; }
	p.listitemrow .iteminventorypics:hover { opacity: 1.00; }
	p.listitemrow img[src$="icon_transfer.gif"] { display: none; }
	p.listitemrow img[src$="icon_drop.gif"] { display: none; }
	p.listitemrow img[src$="icon_view.gif"] { display: none; }
	p.listitemrow:hover img[src$="icon_transfer.gif"] { display: inline-block; position: absolute; top: 3px; right: 2px; }
	p.listitemrow:hover img[src$="icon_drop.gif"] { display: inline-block; position: absolute; top: 4px; right: 16px; }
	p.listitemrow:hover img[src$="icon_view.gif"] { display: inline-block; position: absolute; top: 4px; right: 28px; }
	p.listitemrow span.medium { font-size: 1px; color: transparent; }
	p.listitemrow span.medium a { font-size: 1px; color: #FF0000; display: block; height: 0px; margin: -2px 0px 0px 300px; }
	#filterrow { padding: 2px; }
	#filterrow b { font-size: 10px; }
	#filterrow:before { color: #5E5E5E; }

/*Notruf*/
	a[href*="clanmenu.php?action=sos"] {display: block; font-weight: bold; text-align: left;}	
	
/* Agressive NPC blinken */
	.aggressivenpc 		   { font-weight: bold; color: #FF0000; text-decoration:blink; font-weight: bold;}	
	
/*Waffenzustand direkt hinter Waffe:*/
	p[title$="100%"]:after {content:" (100%)";color: #006600;font-size: 9px;font-weight: bold; }
	p[title$="99%"]:after { content: " (99%)";color: #006600; font-size: 9px;font-weight: bold; }
	p[title$="98%"]:after { content: " (98%)";color: #006600; font-size: 9px;font-weight: bold; }
	p[title$="97%"]:after { content: " (97%)";color: #006600; font-size: 9px;font-weight: bold; }	
	p[title$="96%"]:after { content: " (96%)";color: #006600; font-size: 9px;font-weight: bold; }
	p[title$="95%"]:after { content: " (95%)";color: #006600; font-size: 9px;font-weight: bold; }
	p[title$="94%"]:after { content: " (94%)";color: #006600; font-size: 9px;font-weight: bold; }
	p[title$="93%"]:after { content: " (93%)";color: #006600; font-size: 9px;font-weight: bold; }
	p[title$="92%"]:after { content: " (92%)";color: #006600; font-size: 9px;font-weight: bold; }
	p[title$="91%"]:after { content: " (91%)";color: #006600; font-size: 9px;font-weight: bold; }
	p[title$="90%"]:after { content: " (90%)";color: #006600; font-size: 9px;font-weight: bold; }
	p[title$="89%"]:after { content: " (89%)";color: #006600; font-size: 9px;font-weight: bold; }
	p[title$="88%"]:after { content: " (88%)";color: #006600; font-size: 9px;font-weight: bold; }
	p[title$="87%"]:after { content: " (87%)";color: #006600; font-size: 9px;font-weight: bold; }
	p[title$="86%"]:after { content: " (86%)";color: #006600; font-size: 9px;font-weight: bold; }
	p[title$="85%"]:after { content: " (85%)";color: #006600; font-size: 9px;font-weight: bold; }
	p[title$="84%"]:after { content: " (84%)";color: #006600; font-size: 9px;font-weight: bold; }
	p[title$="83%"]:after { content: " (83%)";color: #006600; font-size: 9px;font-weight: bold; }
	p[title$="82%"]:after { content: " (82%)";color: #006600; font-size: 9px;font-weight: bold; }
	p[title$="81%"]:after { content: " (81%)";color: #006600; font-size: 9px;font-weight: bold; }
	p[title$="80%"]:after { content: " (80%)";color: #006600; font-size: 9px;font-weight: bold; }
	p[title$="79%"]:after { content: " (79%)";color: #006600; font-size: 9px;font-weight: bold; }
	p[title$="78%"]:after { content: " (78%)";color: #006600; font-size: 9px;font-weight: bold; }
	p[title$="77%"]:after { content: " (77%)";color: #006600; font-size: 9px;font-weight: bold; }
	p[title$="76%"]:after { content: " (76%)";color: #006600; font-size: 9px;font-weight: bold; }
	p[title$="75%"]:after { content: " (75%)";color: #006600; font-size: 9px;font-weight: bold; }
	p[title$="74%"]:after { content: " (74%)";color: #006600; font-size: 9px;font-weight: bold; }
	p[title$="73%"]:after { content: " (73%)";color: #006600; font-size: 9px;font-weight: bold; }
	p[title$="72%"]:after { content: " (72%)";color: #006600; font-size: 9px;font-weight: bold; }
	p[title$="71%"]:after { content: " (71%)";color: #006600; font-size: 9px;font-weight: bold; }
	p[title$="70%"]:after { content: " (70%)";color: #006600; font-size: 9px;font-weight: bold; }
	p[title$="69%"]:after { content: " (69%)";color: #006600; font-size: 9px;font-weight: bold; }
	p[title$="68%"]:after { content: " (68%)";color: #006600; font-size: 9px;font-weight: bold; }
	p[title$="67%"]:after { content: " (67%)";color: #006600; font-size: 9px;font-weight: bold; }
	p[title$="66%"]:after { content: " (66%)";color: #006600; font-size: 9px;font-weight: bold; }
	p[title$="65%"]:after { content: " (65%)";color: #006600; font-size: 9px;font-weight: bold; }
	p[title$="64%"]:after { content: " (64%)";color: #006600; font-size: 9px;font-weight: bold; }
	p[title$="63%"]:after { content: " (63%)";color: #006600; font-size: 9px;font-weight: bold; }
	p[title$="62%"]:after { content: " (62%)";color: #006600; font-size: 9px;font-weight: bold; }
	p[title$="61%"]:after { content: " (61%)";color: #006600; font-size: 9px;font-weight: bold; }
	p[title$="60%"]:after { content: " (60%)";color: #006600; font-size: 9px;font-weight: bold; }
	p[title$="59%"]:after { content: " (59%)";color: #006600; font-size: 9px;font-weight: bold; }
	p[title$="58%"]:after { content: " (58%)";color: #006600; font-size: 9px;font-weight: bold; }
	p[title$="57%"]:after { content: " (57%)";color: #006600; font-size: 9px;font-weight: bold; }
	p[title$="56%"]:after { content: " (56%)";color: #006600; font-size: 9px;font-weight: bold; }
	p[title$="55%"]:after { content: " (55%)";color: #006600; font-size: 9px;font-weight: bold; }
	p[title$="54%"]:after { content: " (54%)";color: #006600; font-size: 9px;font-weight: bold; }
	p[title$="53%"]:after { content: " (53%)";color: #006600; font-size: 9px;font-weight: bold; }
	p[title$="52%"]:after { content: " (52%)";color: #006600; font-size: 9px;font-weight: bold; }
	p[title$="51%"]:after { content: " (51%)";color: #006600; font-size: 9px;font-weight: bold; }
	p[title$="50%"]:after { content: " (50%)";color: #006600; font-size: 9px;font-weight: bold; }
	p[title$="49%"]:after { content: " (49%)"; color: #006600;font-size: 9px;font-weight: bold; }
	p[title$="48%"]:after { content: " (48%)"; color: #006600;font-size: 9px;font-weight: bold; }
	p[title$="47%"]:after { content: " (47%)"; color: #006600;font-size: 9px;font-weight: bold; }
	p[title$="46%"]:after { content: " (46%)"; color: #006600;font-size: 9px;font-weight: bold; }
	p[title$="45%"]:after { content: " (45%)"; color: #006600;font-size: 9px;font-weight: bold; }
	p[title$="44%"]:after { content: " (44%)"; color: #006600;font-size: 9px;font-weight: bold; }
	p[title$="43%"]:after { content: " (43%)"; color: #006600;font-size: 9px;font-weight: bold; }
	p[title$="42%"]:after { content: " (42%)"; color: #006600;font-size: 9px;font-weight: bold; }
	p[title$="41%"]:after { content: " (41%)"; color: #006600;font-size: 9px;font-weight: bold; }
	p[title$="40%"]:after { content: " (40%)"; color: #006600;font-size: 9px;font-weight: bold; }
	p[title$="39%"]:after { content: " (39%)"; color: #006600;font-size: 9px;font-weight: bold; }
	p[title$="38%"]:after { content: " (38%)"; color: #006600;font-size: 9px;font-weight: bold; }
	p[title$="37%"]:after { content: " (37%)"; color: #006600;font-size: 9px;font-weight: bold; }
	p[title$="36%"]:after { content: " (36%)"; color: #006600;font-size: 9px;font-weight: bold; }
	p[title$="35%"]:after { content: " (35%)"; color: #006600;font-size: 9px;font-weight: bold; }
	p[title$="34%"]:after { content: " (34%)"; color: #006600;font-size: 9px;font-weight: bold; }
	p[title$="33%"]:after { content: " (33%)"; color: #006600;font-size: 9px;font-weight: bold; }
	p[title$="32%"]:after { content: " (32%)"; color: #006600;font-size: 9px;font-weight: bold; }
	p[title$="31%"]:after { content: " (31%)"; color: #006600;font-size: 9px;font-weight: bold; }
	p[title$="30%"]:after { content: " (30%)"; color: #006600;font-size: 9px;font-weight: bold; }
	p[title$="29%"]:after { content: " (29%)"; color: #006600;font-size: 9px;font-weight: bold; }
	p[title$="28%"]:after { content: " (28%)"; color: #006600;font-size: 9px;font-weight: bold; }
	p[title$="27%"]:after { content: " (27%)"; color: #006600;font-size: 9px;font-weight: bold; }
	p[title$="26%"]:after { content: " (26%)"; color: #006600;font-size: 9px;font-weight: bold; }
	p[title$="25%"]:after { content: " (25%)"; color: #006600;font-size: 9px;font-weight: bold; }
	p[title$="24%"]:after { content: " (24%)"; color: #006600;font-size: 9px;font-weight: bold; }
	p[title$="23%"]:after { content: " (23%)"; color: #006600;font-size: 9px;font-weight: bold; }
	p[title$="22%"]:after { content: " (22%)"; color: #006600;font-size: 9px;font-weight: bold; }
	p[title$="21%"]:after { content: " (21%)"; color: #006600;font-size: 9px;font-weight: bold; }
	p[title$="20%"]:after { content: " (20%)"; color: #006600;font-size: 9px;font-weight: bold; }
	p[title$="19%"]:after { content: " (19%)"; color: #006600;font-size: 9px;font-weight: bold; }
	p[title$="18%"]:after { content: " (18%)"; color: #006600;font-size: 9px;font-weight: bold; }
	p[title$="17%"]:after { content: " (17%)"; color: #006600;font-size: 9px;font-weight: bold; }
	p[title$="16%"]:after { content: " (16%)"; color: #006600;font-size: 9px;font-weight: bold; }
	p[title$="15%"]:after { content: " (15%)"; color: #006600;font-size: 9px;font-weight: bold; }
	p[title$="14%"]:after { content: " (14%)"; color: #006600;font-size: 9px;font-weight: bold; }
	p[title$="13%"]:after { content: " (13%)"; color: #006600;font-size: 9px;font-weight: bold; }
	p[title$="12%"]:after { content: " (12%)"; color: #006600;font-size: 9px;font-weight: bold; }
	p[title$="11%"]:after {content: " (11%)"; color: #FF8000;font-size: 9px;font-weight: bold; }
	p[title$="10%"]:after {content: " (10%)"; color: #FF8000;font-size: 9px;font-weight: bold;}
	p[title$=" 9%"]:after {content: " (9%)"; color: #FF8000;font-size: 9px;font-weight: bold;}
	p[title$=" 8%"]:after {content: " (8%)"; color: #FF8000;font-size: 9px;font-weight: bold;}
	p[title$=" 7%"]:after {content: " (7%)"; color: #D20000;font-size: 9px;font-weight: bold;}
	p[title$=" 6%"]:after {content: " (6%)"; color: #D20000;font-size: 9px;font-weight: bold;}
	p[title$=" 5%"]:after {content: " (5%)"; color: #D20000;font-size: 9px; text-decoration:blink;font-weight: bold;}
	p[title$=" 4%"]:after {content: " (4%)"; color: #D20000;font-size: 9px; text-decoration:blink;font-weight: bold;}
	p[title$=" 3%"]:after {content: " Reparieren"; color:#FF0000;font-size: 9px; text-decoration:blink;font-weight: bold;}
	p[title$=" 2%"]:after {content: " Reparieren"; color:#FF0000;font-size: 9px; text-decoration:blink;font-weight: bold;}
	p[title$=" 1%"]:after {content: " Reparieren!"; color:#FF0000;font-size: 9px; text-decoration:blink;font-weight: bold;}	
	
/* Zustände blinken */
	span[title*="(2 Minuten)"] { color:#FF8000;}
	span[title*="(1 Minuten)"] { color:#D20000; text-decoration:blink;}
	span[title*="(0 Minuten)"] { color:#D20000; text-decoration:blink;}
		
		/*Killt den "Sachen vergraben" - Link */
		.frameitembg a[href*="item.php?action=activate&act_item_id=123285564&mode=2"]  {display: none;}
		

		
/* Aggressive NPCs auf der Karte */
	.framemapbg td[id^="map"] a { position: relative; text-decoration: none; display: inline-block; width: 50px; height: 50px; }

/* > > A3 */
	#mapx-426y-298 a:after, #mapx-428y-297 a:after, #mapx-427y-297 a:after, #mapx-425y-297 a:after, #mapx-427y-296 a:after, #mapx-426y-296 a:after { content: "3"; z-index: 2; width: 50px; position: absolute; left: 0px; top: 0px; line-height: 120%; font-size: 10px; font-weight: bold; text-align: center; color: #D20000; background: #CCCCCC; border-bottom: 1px solid #BABABA; opacity: 0.70; -moz-border-radius-bottomleft: 6px; -moz-border-radius-bottomright: 6px; -webkit-border-bottom-left-radius: 6px; -webkit-border-bottom-right-radius: 6px; }

/* > > A9 */
	#mapx-827y-914 a:after, #mapx-826y-912 a:after, #mapx-823y-912 a:after, #mapx-825y-911 a:after, #mapx-822y-910 a:after, #mapx-826y-908 a:after, #mapx-823y-906 a:after, #mapx-824y-905 a:after, #mapx-826y-904 a:after, #mapx-823y-903 a:after { content: "9"; z-index: 2; width: 50px; position: absolute; left: 0px; top: 0px; line-height: 120%; font-size: 10px; font-weight: bold; text-align: center; color: #D20000; background: #CCCCCC; border-bottom: 1px solid #BABABA; opacity: 0.70; -moz-border-radius-bottomleft: 6px; -moz-border-radius-bottomright: 6px; -webkit-border-bottom-left-radius: 6px; -webkit-border-bottom-right-radius: 6px; }

/* > > A10 - 2630 */
	#mapx-826y-916 a:after, #mapx-825y-914 a:after, #mapx-827y-913 a:after, #mapx-825y-912 a:after, #mapx-825y-910 a:after, #mapx-827y-909 a:after, #mapx-823y-908 a:after, #mapx-823y-905 a:after, #mapx-826y-903 a:after, #mapx-230y-538 a:after { content: "10 - 2630"; z-index: 2; width: 50px; position: absolute; left: 0px; top: 0px; line-height: 120%; font-size: 10px; font-weight: bold; text-align: center; color: #D20000; background: #CCCCCC; border-bottom: 1px solid #BABABA; opacity: 0.70; -moz-border-radius-bottomleft: 6px; -moz-border-radius-bottomright: 6px; -webkit-border-bottom-left-radius: 6px; -webkit-border-bottom-right-radius: 6px; }

/* > > A12 */
	#mapx-348y-699 a:after, #mapx-347y-699 a:after, #mapx-349y-698 a:after, #mapx-348y-698 a:after, #mapx-347y-698 a:after, #mapx-349y-697 a:after, #mapx-348y-697 a:after, #mapx-347y-697 a:after, #mapx-346y-697 a:after, #mapx-348y-696 a:after, #mapx-347y-696 a:after, #mapx-346y-696 a:after, #mapx-348y-695 a:after, #mapx-347y-695 a:after, #mapx-346y-695 a:after, #mapx-345y-695 a:after, #mapx-348y-694 a:after, #mapx-347y-694 a:after, #mapx-346y-694 a:after, #mapx-345y-694 a:after, #mapx-348y-693 a:after, #mapx-347y-693 a:after, #mapx-346y-693 a:after, #mapx-345y-693 a:after { content: "12"; z-index: 2; width: 50px; position: absolute; left: 0px; top: 0px; line-height: 120%; font-size: 10px; font-weight: bold; text-align: center; color: #D20000; background: #CCCCCC; border-bottom: 1px solid #BABABA; opacity: 0.70; -moz-border-radius-bottomleft: 6px; -moz-border-radius-bottomright: 6px; -webkit-border-bottom-left-radius: 6px; -webkit-border-bottom-right-radius: 6px; }

/* > > A25 */
	#mapx-226y-540 a:after, #mapx-228y-539 a:after, #mapx-224y-539 a:after, #mapx-229y-538 a:after, #mapx-227y-538 a:after, #mapx-225y-538 a:after { content: "25"; z-index: 2; width: 50px; position: absolute; left: 0px; top: 0px; line-height: 120%; font-size: 10px; font-weight: bold; text-align: center; color: #D20000; background: #CCCCCC; border-bottom: 1px solid #BABABA; opacity: 0.70; -moz-border-radius-bottomleft: 6px; -moz-border-radius-bottomright: 6px; -webkit-border-bottom-left-radius: 6px; -webkit-border-bottom-right-radius: 6px; }

/* > > A25 / 710 */
	#mapx-224y-541 a:after { content: "25 / 710"; z-index: 2; width: 50px; position: absolute; left: 0px; top: 0px; line-height: 120%; font-size: 10px; font-weight: bold; text-align: center; color: #D20000; background: #CCCCCC; border-bottom: 1px solid #BABABA; opacity: 0.70; -moz-border-radius-bottomleft: 6px; -moz-border-radius-bottomright: 6px; -webkit-border-bottom-left-radius: 6px; -webkit-border-bottom-right-radius: 6px; }

/* > > A34 */
	#mapx-605y-267 a:after, #mapx-608y-266 a:after, #mapx-607y-266 a:after, #mapx-606y-266 a:after, #mapx-605y-266 a:after, #mapx-604y-265 a:after, #mapx-610y-264 a:after, #mapx-602y-264 a:after, #mapx-601y-263 a:after, #mapx-613y-262 a:after, #mapx-611y-262 a:after, #mapx-609y-262 a:after, #mapx-607y-262 a:after, #mapx-600y-262 a:after, #mapx-606y-261 a:after, #mapx-605y-260 a:after, #mapx-601y-260 a:after { content: "34"; z-index: 2; width: 50px; position: absolute; left: 0px; top: 0px; line-height: 120%; font-size: 10px; font-weight: bold; text-align: center; color: #D20000; background: #CCCCCC; border-bottom: 1px solid #BABABA; opacity: 0.70; -moz-border-radius-bottomleft: 6px; -moz-border-radius-bottomright: 6px; -webkit-border-bottom-left-radius: 6px; -webkit-border-bottom-right-radius: 6px; }

/* > > A35 */
	#mapx-428y-298 a:after, #mapx-424y-298 a:after, #mapx-426y-297 a:after, #mapx-425y-296 a:after { content: "35"; z-index: 2; width: 50px; position: absolute; left: 0px; top: 0px; line-height: 120%; font-size: 10px; font-weight: bold; text-align: center; color: #D20000; background: #CCCCCC; border-bottom: 1px solid #BABABA; opacity: 0.70; -moz-border-radius-bottomleft: 6px; -moz-border-radius-bottomright: 6px; -webkit-border-bottom-left-radius: 6px; -webkit-border-bottom-right-radius: 6px; }

/* > > A35 / 1040 */
	#mapx-426y-299 a:after { content: "35 / 1040"; z-index: 2; width: 50px; position: absolute; left: 0px; top: 0px; line-height: 120%; font-size: 10px; font-weight: bold; text-align: center; color: #D20000; background: #CCCCCC; border-bottom: 1px solid #BABABA; opacity: 0.70; -moz-border-radius-bottomleft: 6px; -moz-border-radius-bottomright: 6px; -webkit-border-bottom-left-radius: 6px; -webkit-border-bottom-right-radius: 6px; }

/* > > A271 */
	#mapx-825y-915 a:after, #mapx-826y-914 a:after, #mapx-826y-911 a:after, #mapx-827y-910 a:after, #mapx-825y-909 a:after, #mapx-822y-909 a:after, #mapx-825y-904 a:after, #mapx-826y-918 a:after { content: "271"; z-index: 2; width: 50px; position: absolute; left: 0px; top: 0px; line-height: 120%; font-size: 10px; font-weight: bold; text-align: center; color: #D20000; background: #CCCCCC; border-bottom: 1px solid #BABABA; opacity: 0.70; -moz-border-radius-bottomleft: 6px; -moz-border-radius-bottomright: 6px; -webkit-border-bottom-left-radius: 6px; -webkit-border-bottom-right-radius: 6px; }

/* > > A465 */
	#mapx-738y-230 a:after, #mapx-736y-230 a:after, #mapx-738y-229 a:after, #mapx-737y-229 a:after, #mapx-736y-229 a:after, #mapx-740y-228 a:after, #mapx-739y-228 a:after, #mapx-737y-228 a:after, #mapx-736y-227 a:after { content: "465"; z-index: 2; width: 50px; position: absolute; left: 0px; top: 0px; line-height: 120%; font-size: 10px; font-weight: bold; text-align: center; color: #D20000; background: #CCCCCC; border-bottom: 1px solid #BABABA; opacity: 0.70; -moz-border-radius-bottomleft: 6px; -moz-border-radius-bottomright: 6px; -webkit-border-bottom-left-radius: 6px; -webkit-border-bottom-right-radius: 6px; }

/* > > A666 */
	#mapx-199y-829 a:after, #mapx-199y-828 a:after, #mapx-198y-828 a:after, #mapx-199y-827 a:after { content: "666"; z-index: 2; width: 50px; position: absolute; left: 0px; top: 0px; line-height: 120%; font-size: 10px; font-weight: bold; text-align: center; color: #D20000; background: #CCCCCC; border-bottom: 1px solid #BABABA; opacity: 0.70; -moz-border-radius-bottomleft: 6px; -moz-border-radius-bottomright: 6px; -webkit-border-bottom-left-radius: 6px; -webkit-border-bottom-right-radius: 6px; }

/* > > A710 */
	#mapx-225y-541 a:after { content: "710"; z-index: 2; width: 50px; position: absolute; left: 0px; top: 0px; line-height: 120%; font-size: 10px; font-weight: bold; text-align: center; color: #D20000; background: #CCCCCC; border-bottom: 1px solid #BABABA; opacity: 0.70; -moz-border-radius-bottomleft: 6px; -moz-border-radius-bottomright: 6px; -webkit-border-bottom-left-radius: 6px; -webkit-border-bottom-right-radius: 6px; }

/* > > A1630 */
	#mapx-223y-541 a:after, #mapx-225y-540 a:after { content: "1630"; z-index: 2; width: 50px; position: absolute; left: 0px; top: 0px; line-height: 120%; font-size: 10px; font-weight: bold; text-align: center; color: #D20000; background: #CCCCCC; border-bottom: 1px solid #BABABA; opacity: 0.70; -moz-border-radius-bottomleft: 6px; -moz-border-radius-bottomright: 6px; -webkit-border-bottom-left-radius: 6px; -webkit-border-bottom-right-radius: 6px; }

/* > > A2710 */
	#mapx-821y-910 a:after { content: "2710"; z-index: 2; width: 50px; position: absolute; left: 0px; top: 0px; line-height: 120%; font-size: 10px; font-weight: bold; text-align: center; color: #D20000; background: #CCCCCC; border-bottom: 1px solid #BABABA; opacity: 0.70; -moz-border-radius-bottomleft: 6px; -moz-border-radius-bottomright: 6px; -webkit-border-bottom-left-radius: 6px; -webkit-border-bottom-right-radius: 6px; }	
	
/* Schimmernde Tiefen / Rotschimmer-Ameise */
	#mapx-844y-374 a:after, #mapx-848y-374 a:after, #mapx-840y-376 a:after, #mapx-845y-376 a:after, #mapx-842y-377 a:after, #mapx-843y-377 a:after, #mapx-849y-378 a:after { content: "1600"; z-index: 2; width: 50px; position: absolute; left: 0px; top: 0px; line-height: 120%; font-size: 10px; font-weight: bold; text-align: center; color: #D20000; background: #CCCCCC; border-bottom: 1px solid #BABABA; opacity: 0.70; -moz-border-radius-bottomleft: 6px; -moz-border-radius-bottomright: 6px; -webkit-border-bottom-left-radius: 6px; -webkit-border-bottom-right-radius: 6px; }
	#mapx-844y-377 a:after { content: "4200"; z-index: 2; width: 50px; position: absolute; left: 0px; top: 0px; line-height: 120%; font-size: 10px; font-weight: bold; text-align: center; color: #D20000; background: #CCCCCC; border-bottom: 1px solid #BABABA; opacity: 0.70; -moz-border-radius-bottomleft: 6px; -moz-border-radius-bottomright: 6px; -webkit-border-bottom-left-radius: 6px; -webkit-border-bottom-right-radius: 6px; }
	#mapx-845y-375 a:after { content: "5300"; z-index: 2; width: 50px; position: absolute; left: 0px; top: 0px; line-height: 120%; font-size: 10px; font-weight: bold; text-align: center; color: #D20000; background: #CCCCCC; border-bottom: 1px solid #BABABA; opacity: 0.70; -moz-border-radius-bottomleft: 6px; -moz-border-radius-bottomright: 6px; -webkit-border-bottom-left-radius: 6px; -webkit-border-bottom-right-radius: 6px; }
	
	
	