/* text classes */
.chattext {
	color: #FFE1E1;
	font-size: var(--font13);
}
.chattextscream {
	color: #0099CC;
	font-size: var(--font13);
}
.chattextclan { color: #D20000; font-size: var(--font13); }
.chattextinfo { color: #A37300; font-size: var(--font13); }
.chattextgroup { color: #CE5A21; font-size: var(--font13); }
.chattextwhisper { color: #006600; font-size: var(--font13); }
.chattextinspiration { color: #964119 !important; font-size: var(--font13); }
.chattextgoldteilen { color: #964119 !important; font-size: var(--font13); }
.chattextglobal { color: #6e621e; font-size: var(--font13); }
.chattime { color: #FFE1E1 !important; }

.chattextworldsay {
	color: #FFE1E1;
	background-color: #C1CEF9;
	font-size: var(--font13);
}